


 body
{
	margin: 0; 
}



ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}


li a 
{
    float: right;
    display: block;
    text-align: center;
    padding: 10px 20px;
}

	
li a:hover {
	color: white; 
    background-color: #808080;
}

.passive 
{ 
float: left;
 }


#outer_google
{
	padding: 100px;
	background: red; 
}

#inner_google
{ 
	margin: 0 auto;
    width: 600px;
	height: 600px ; 
	background-color: #ccc;
	text-align: center; 
	background: green;  
}




#

#country
{
	color: #A9A9A9;
	position: fixed;
    bottom: 35px;
    width: 100%;
    border-top: 1px solid #A9A9A9; 
    background: #F2F2F2;

   
}

#lien
{
	color: #A9A9A9;
	position: fixed;
    bottom: 0;
    width: 100%;
    background: #F2F2F2;
    border-top: 1px solid #A9A9A9; 

}

p
{
	margin-left: 20px;
}